POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cdc_db
MEILI_MASTER_KEY=masterKey
PORT=8000
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/cdc_db
MEILI_HTTP_ADDR=http://meilisearch:7700
API_URL=http://api-frontend:8000/api/cdc-notify
